body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}
header {
  background-color: rgb(99, 99, 99);
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
}
header div {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 60px;
}
.icon-header {
  height: 20px;
  width: 20px;
}
.icon-header img {
  width: 100%;
  height: 100%;
}
